<a href="https://colab.research.google.com/github/Asha-810/Basic-Python-programs/blob/main/Practice_python_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print grades based on marks
score=int(input("enter your grade: "))

if score>=90:
    print("grade is A")
elif score>=80 and score<90:
    print("grade is B")
elif score>=70 and score<80:
    print("grade is C")
elif score>=60 and score<70:
    print("grade is D")
elif score<60 :
    print("grade is F")
else:
    print("low grade")

enter your grade: 37
grade is F

In [ ]:
#odd or even
num=int(input("enter a number: "))
if num%2==0:
    print(f"The number is even :{num}")
else:
    print(f"The number is odd :{num}")

enter a number: 7
The number is odd :7

In [ ]:
#leap year or not
num=int(input("enter a year: "))

if (num%400==0) and (num%100==0):
    print(f"{num} is a leap year")
elif(num%4==0) and (num%100 != 0):
    print(f"{num} is a leap year")
else:
     print(f"{num} is a not leap year")

enter a year: 2000
2000 is a leap year

In [ ]:
#category the age

age=int(input("enter a age: "))
if age<=11:
    print("children")
elif age>11 and age<=18:
    print("teenage")
elif age>18 and age<=60:
    print("adult")
elif age>=60:
    print("old")
else:
    print("invalid age")

enter a age: 43
adult

In [ ]:
#maximum number
num1=int(input("enter a 1 number: "))
num2=int(input("enter a 2 number: "))
num3=int(input("enter a 3 number: "))
maxi=max(num1,num2,num3)
print(f"the maximum number is {maxi}")

enter a 1 number: 45
enter a 2 number: 37
enter a 3 number: 20
the maximum number is 45

In [ ]:
# Exercise 1:
# Calculate the multiplication and sum of two numbers
# Given two integer numbers, write a Python code to return their product only if the product is equal to or lower than 1000. Othe20rwise, return their sum.

num1=20
num2=30
if (num1*num2)<=1000:
  print(f"product= {num1*num2}")
else:
  print(f"sum = {num1+num2}")

product= 600

In [ ]:
num1=40
num2=30
if (num1*num2)<=1000:
  print(f"product= {num1*num2}")
else:
  print(f"sum = {num1+num2}")

sum = 70

In [ ]:
#Exercise 2: Print the Sum of a Current Number and a Previous number

for i in range(1,10):
  print(f"current number {i} previous number {i-1} sum : {i+i-1}")

current number 1 previous number 0 sum : 1
current number 2 previous number 1 sum : 3
current number 3 previous number 2 sum : 5
current number 4 previous number 3 sum : 7
current number 5 previous number 4 sum : 9
current number 6 previous number 5 sum : 11
current number 7 previous number 6 sum : 13
current number 8 previous number 7 sum : 15
current number 9 previous number 8 sum : 17

In [ ]:
#Exercise 3: Print characters present at an even index number

str=input("enter a string: ")
print(str[::2])

enter a string: ASHA
AH

In [ ]:
string=input("enter a string : ")
for i in string:
  print(i[::2])

enter a string : ASHA
A
S
H
A

In [ ]:
#Exercise 4: Remove first n characters from a string

str = "PYnative"
n=int(input("enter a number: "))
if n<=len(str):
  print(str[n:])

enter a number: 4
tive

In [ ]:
#Exercise 5: Check if the first and last numbers of a list are the same

numbers_x = [10, 20, 30, 40, 10]
#numbers_y = [75, 65, 35, 75, 30]
if numbers_x[0]==numbers_x[-1]:
  print("result is true")

result is true

In [ ]:
numbers_y = [75, 65, 35, 75, 30]
if numbers_y[0]==numbers_y[-1]:
  print("result is true")
else:
  print("result is false")

result is false

In [ ]:
#Exercise 6: Display numbers divisible by 5
#Write a Python code to display numbers from a list divisible by 5

list=[10,20,33,46,55]
print("divisible by 5")
for i in list:
  if i%5==0:
    print(i)

divisible by 5
10
20
55

In [ ]:
#Exercise 7: Find the number of occurrences of a substring in a string

str_x = "Emma is good developer. Emma is a writer"
pre=str_x.count("Emma")
print(pre)

2

In [ ]:
#Exercise 8: Print the following pattern
for i in range(1, 6):
    print((str(i) + " ")*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#Exercise 9: Check Palindrome Number
def is_palindrome(num):
    original_num = num
    reversed_num = 0
    while num > 0:
        digit = num % 10  # extract last 10 stored in digit
        reversed_num = reversed_num * 10 + digit  #find rev
        num = num // 10 #delete last num
    return original_num == reversed_num
number = 121
if is_palindrome(number):
    print(f"{number} is a palindrome")
else:
    print(f"{number} is not a palindrome")

121 is a palindrome

In [ ]:
def palindrome(num):

  return str(num)==str(num)[::-1]

number=121
if palindrome(number):
  print(f"{number} is a palindrome")
else:
  print(f"{number} is not a palindrome")

121 is a palindrome

In [ ]:
#Exercise 10: Merge two lists using the following condition

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
merge_list=[num for num in list1 if num%2!=0] + [num for num in list2 if num%2==0]
print(merge_list)

[25, 35, 40, 60, 90]

In [ ]:
#Exercise 11: Get each digit from a number in the reverse order.

num="7536"
digits=[digits for digits in num[::-1]]
print(" ".join(digits))

6 3 5 7

In [ ]:
num=7536
while num>0:
    digit=num%10
    print(digit,end=" ")
    num=num//10

6 3 5 7

In [ ]:
#Exercise 12: Calculate income tax
income=45000
tax=0
if income<=10000:
    tax=0
elif income<=20000:
    tax =(income - 10000)* 0.10
else:
    tax=(10000*0.10)+(income -20000)*0.20
print(f"income: ${income},tax payablle: ${tax}")

def exponent(base,exp):
    return base**exp
base=2
exp=5
result=exponent(base,exp)
print(f"{base} raised to the poer of {exp} is {result}")

income: $45000,tax payablle: $6000.0
2 raised to the poer of 5 is 32

In [ ]:
#Exercise 13: Print multiplication table from 1 to 10
for i in range(1,11):
  for j in range(1,11):
    print(f"{i * j:4}",end=" ")
  print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

In [ ]:
#Exercise 14: Print a downward half-pyramid pattern of stars
n=5
for i in range(n,0,-1):
    print("*"*i)

*****
****
***
**
*

In [ ]:
#Exercise 15: Get an int value of base raises to the power of exponent
def exponent(base,exp):
    return base**exp
base=2
exp=5
result=exponent(base,exp)
print(f"{base} raised to the poer of {exp} is {result}")

2 raised to the poer of 5 is 32

CASE STUDY - 3 LOOP

In [ ]:
#Exercise 1: Print first 10 natural numbers using while loop
i=1
while(i<11):
    print(i)
    i =i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Exercise 2: Print the following pattern
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
         print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#Exercise 3: Calculate sum of all numbers from 1 to a given number
num=int(input("enter a number: "))
add=(i for i in range(0,num+1))
print(sum(add))

enter a number: 4
10

In [ ]:
#Exercise 4: Print multiplication table of a given number
num=2
for i in range(1,11):
  print(num*i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Exercise 5: Display numbers from a list using a loop
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i>500:
    break
  if i>150:
    continue
  if i%5==0:
    print(i)

75
150
145

In [ ]:
#Exercise 6: Count the total number of digits in a number
num="75869"
print(len(num))

5

In [ ]:
num=75869
count=0
while num>0:
  num//=10
  count=count+1
print(count)

5

In [ ]:
#Exercise 7: Print the following pattern
rows = 5
for i in range(rows, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#Exercise 8: Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]
list2=list1[4::-1]
for i in list2:
  print(i)

50
40
30
20
10

In [ ]:
#Exercise 9: Display numbers from -10 to -1 using for loop

for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#Exercise 10: Display a message “Done” after the successful execution of the for loop
for i in range(5):
    print(i)
print("DONE!")

0
1
2
3
4
DONE!

In [ ]:
#Exercise 11: Print all prime numbers within a rangel
start = 25
end = 50

print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [ ]:
#Exercise 12: Display Fibonacci series up to 10 terms:
n=10
num1=0
num2=1
next_num=num2
count=1
while count<=n:
  print(next_num,end=" ")
  count+=1
  num1,num2=num2,next_num
  next_num=num1+num2
print()

0 1
1 2 3 5 8 13 21 34 55 89

In [ ]:
#Exercise 13: Find the factorial of a given number
num = 6
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(f"The factorial of {num} is {factorial}")

The factorial of 6 is 720

In [ ]:
#Exercise 14: Reverse a integer number
num=76542
while num>0:
    digit=num%10
    print(digit,end=" ")
    num=num//10

2 4 5 6 7

In [ ]:
#Exercise 15: Print elements from a given list present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1,len(my_list),2):
  print(my_list[i],end=" ")

20 40 60 80 100

In [ ]:
#Exercise 16: Calculate the cube of all numbers from 1 to a given number
input_number = 6
for i in range(1,input_number):
  cube=i*i*i
  print(f"current number is {i} Cube of this number is {cube}")

current number is 1 Cube of this number is 1
current number is 2 Cube of this number is 8
current number is 3 Cube of this number is 27
current number is 4 Cube of this number is 64
current number is 5 Cube of this number is 125

In [ ]:
#Exercise 17: Find the sum of the series up to n terms
n = 5
sum=0
for i in range(1,n+1):
  sum=sum+int('2'*i)
print(f"sum of {n} is {sum}")

sum of 5 is 24690

In [ ]:
#Exercise 18: Print the following pattern
n=5
for i in range(1,n):
  for j in range(1,i+1):
    print("*",end=" ")
  print()
for k in range(n,0,-1):
  for l in range(1,k+1):
    print("*",end=" ")
  print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*